.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: lightgrey;
  margin-bottom: 10px;
}

.flex-item {
  background-color: cornflowerblue;
  text-align: center;
  height: 50px;
  width: 33%;
  padding:10px;
  margin: 10px;
}

.flex-item span{
  display: block;
}

.main .charts{
  margin-bottom: 10px;
  text-align: center;
  background-color: burlywood;
  height: 100px;
}