/* global variables */
:root{
  --white: #ffffff;
  --dark: #333
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20;
  margin: 10px;
}

* {
  box-sizing: border-box;
}


body.light {
  --text-color: var(--dark);
  --background-color: var(--white);
}

body.dark {
  --text-color: var(--white);
  --background-color: var(--dark);
}

body {
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--background-color); 
  transition: background-color 0.3s; 
}

/* Button styles */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

body.light button {
  background-color: hsl(0, 5%, 11%);
  color: var(--white);
}

body.dark button {
  background-color: var(--white);
  color: hsl(0, 5%, 11%);
}


