.switch {
  position: relative;
  display: inline-block;
  width: 30px; /* Wider for better visibility */
  height: 17px; /* Taller for better aesthetics */
}

/* Hide the input checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
  
/* The Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #ddd, #bbb);
  border-radius: 50px; /* Fully rounded */
  transition: background 0.4s, box-shadow 0.3s ease-in-out;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  top: 2px;
  left: 3px;
  background: linear-gradient(to bottom, #fff, #eaeaea);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease, background 0.4s ease;
}

  /*Checked State*/ 
  input:checked + .slider { /* ff9800 */
  background: linear-gradient(to right, #ffab2c, #ff9800);
}

input:checked + .slider:before {
  transform: translateX(10px); /* Align to the right */
  background: linear-gradient(to bottom, #ffffff, #d1eaff);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.theme-label {
  transition: color 0.3s ease, transform 0.3s ease;
  color: var(--text-color);
}

.toggle-theme {
  display: flex;
  align-items: center; /* Align items vertically */
  gap: 10px; /* Space between the label text and the slider */
  color: var(--text-color);
}